<?xml version="1.0"?>
<config>
    <modules>
        <Narfstudios_ProductNavigation>
            <version>0.1.0</version>
        </Narfstudios_ProductNavigation>
    </modules>
    <global>
        <models>
            <ProductNavigation>
                <class>Narfstudios_ProductNavigation_Model</class>
                <resourceModel>ProductNavigation_mysql4</resourceModel>
            </ProductNavigation>
            <sitemap>
                <rewrite>
                    <sitemap>Narfstudios_ProductNavigation_Model_Sitemap</sitemap>
                </rewrite>
            </sitemap>
            <productnavigation_mysql4>
                <class>Mage_Sitemap_Model_Mysql4</class>
                <entities>
                    <sitemap>
                        <table>sitemap</table>
                    </sitemap>
                </entities>
            </productnavigation_mysql4>
        </models>
        <blocks>
        	<ProductNavigation>
                <class>Narfstudios_ProductNavigation_Block</class>
            </ProductNavigation>
            <catalog>
                <rewrite>
                    <product_view>Narfstudios_ProductNavigation_Block_Catalog_Product_View</product_view>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <ProductNavigation>
                <class>Narfstudios_ProductNavigation_Helper</class>
            </ProductNavigation>
        </helpers>
    </global>
 	<frontend>
        <routers>
            <ProductNavigation>
                <use>standard</use>
                <args>
                    <module>Narfstudios_ProductNavigation</module>
                    <frontName>productnavigation</frontName>
                </args>
            </ProductNavigation>
        </routers>
        <layout>
            <updates>
                <ProductNavigation>
                    <file>productnavigation.xml</file>
                </ProductNavigation>
            </updates>
        </layout>
        <translate>
            <modules>
                <Narfstudios_ProductNavigation>
                    <files>
                        <default>Narfstudios_ProductNavigation.csv</default>
                    </files>
                </Narfstudios_ProductNavigation>
            </modules>
        </translate>
    </frontend>
</config>