<?xml version="1.0"?>
<config>
    <modules>
        <Narfstudios_SitemapExtend>
            <version>0.1.0</version>
        </Narfstudios_SitemapExtend>
    </modules>
    <global>
        <models>
            <sitemapextend>
                <class>Narfstudios_SitemapExtend_Model</class>
                <resourceModel>sitemapextend_mysql4</resourceModel>
            </sitemapextend>
            <sitemap>
                <rewrite>
                    <sitemap>Narfstudios_SitemapExtend_Model_Sitemap</sitemap>
                </rewrite>
            </sitemap>
            <sitemapextend_mysql4>
                <class>Mage_Sitemap_Model_Mysql4</class>
                <entities>
                    <sitemap>
                        <table>sitemap</table>
                    </sitemap>
                </entities>
            </sitemapextend_mysql4>
        </models>
        <blocks>
        	<sitemapextend>
                <class>Narfstudios_SitemapExtend_Block</class>
            </sitemapextend>
            <catalog>
                <rewrite>
                    <product_view>Narfstudios_SitemapExtend_Block_Catalog_Product_View</product_view>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <sitemapextend>
                <class>Narfstudios_SitemapExtend_Helper</class>
            </sitemapextend>
        </helpers>
    </global>
 	<frontend>
        <routers>
            <sitemapextend>
                <use>standard</use>
                <args>
                    <module>Narfstudios_SitemapExtend</module>
                    <frontName>sitemapextend</frontName>
                </args>
            </sitemapextend>
        </routers>
        <layout>
            <updates>
                <sitemapextend>
                    <file>sitemapextend.xml</file>
                </sitemapextend>
            </updates>
        </layout>
        <translate>
            <modules>
                <Narfstudios_SitemapExtend>
                    <files>
                        <default>Narfstudios_SitemapExtend.csv</default>
                    </files>
                </Narfstudios_SitemapExtend>
            </modules>
        </translate>
    </frontend>
</config>